// put logo before heading
h1 Esoterik

.navbar.navbar-default
  .container
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Home'?'active':undefined)
          a(href='/') Home
        li(class=title=='API Browser'?'active':undefined)
          a(href='/api') Live
        li(class=title=='Contact'?'active':undefined)
          a(href='/contact') Discography
        li(class=title=='Contact'?'active':undefined)
          a(href='/contact') Bio
        li(class=title=='Contact'?'active':undefined)
          a(href='/contact') Photos
        li(class=title=='Contact'?'active':undefined)
          a(href='/contact') Contact
